element.style {}

.homeFuncionalidadesSlider.jsx-723090338 {
    padding: 80px 20px 0;
    position: relative;
    cursor: pointer;
    width: 560px;
    max-width: calc(100% - 40px);
    min-height: 290px;
    margin: 0;
    text-align: center;
}

article.jsx-723090338 {
    max-width: calc(50% - 52px);
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 20px 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
    display: block;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
    display: block;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
em,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
footer,
header,
nav,
section,
main {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
    display: block;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

user agent stylesheet article {
    display: block;
}

section.jsx-723090338 {
    width: 1100px;
    max-width: 100%;
    margin: auto;
    padding-bottom: 60px;
    text-align: center;
}

body,
html {
    width: 100%;
    font-weight: 300;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans', Arial, Tahoma, Sans-Serif;
}

body,
html {
    width: 100%;
    font-weight: 300;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans', Arial, Tahoma, Sans-Serif;
}

body {
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased !important;
    overflow-x: hidden;
}

body,
html {
    width: 100%;
    font-weight: 300;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans', Arial, Tahoma, Sans-Serif;
}

html {
    font-size: 16px;
    line-height: 1.6;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html {
    font-size: 16px;
    line-height: 1.6;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html {
    font-size: 16px;
    line-height: 1.6;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

user agent stylesheet html {
    color: -internal-root-color;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

element.style {}

section.jsx-723090338 {
    width: 1100px;
    max-width: 100%;
    margin: auto;
    padding-bottom: 60px;
    text-align: center;
}

section:not(.carLojaAppsHome) {
    width: 100% !important;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
    display: block;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
    display: block;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
em,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
footer,
header,
nav,
section,
main {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
    display: block;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

user agent stylesheet section {
    display: block;
}

body,
html {
    width: 100%;
    font-weight: 300;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans', Arial, Tahoma, Sans-Serif;
}

body,
html {
    width: 100%;
    font-weight: 300;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans', Arial, Tahoma, Sans-Serif;
}

body {
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased !important;
    overflow-x: hidden;
}

body,
html {
    width: 100%;
    font-weight: 300;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans', Arial, Tahoma, Sans-Serif;
}

html {
    font-size: 16px;
    line-height: 1.6;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html {
    font-size: 16px;
    line-height: 1.6;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html {
    font-size: 16px;
    line-height: 1.6;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

user agent stylesheet html {
    color: -internal-root-color;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.homeFuncionalidadesSlide.second.jsx-723090338 {
    -webkit-transform: translateX(0) translateY(-50px) translateZ(0);
    -ms-transform: translateX(0) translateY(-50px) translateZ(0);
    transform: translateX(0) translateY(-50px) translateZ(0);
}

.homeFuncionalidadesSlide.jsx-723090338 {
    display: inline-block;
    width: 180px;
    height: 260px;
    position: absolute;
    top: 100px;
    left: calc(50% - 90px);
    -webkit-transition: -webkit-transform 0.3s linear;
    -webkit-transition: transform 0.3s linear;
    transition: transform 0.3s linear;
    opacity: 1;
}

div.jsx-723090338 {
    outline: 0;
}

b,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
p,
span,
strong,
u {
    font-display: swap;
}

b,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
p,
span,
strong,
u {
    font-display: swap;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
em,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
footer,
header,
nav,
section,
main {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

b,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
p,
span,
strong,
u {
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

user agent stylesheet div {
    display: block;
}

.homeFuncionalidadesSlider.jsx-723090338 {
    padding: 80px 20px 0;
    position: relative;
    cursor: pointer;
    width: 560px;
    max-width: calc(100% - 40px);
    min-height: 290px;
    margin: 0;
    text-align: center;
}

section.jsx-723090338 {
    width: 1100px;
    max-width: 100%;
    margin: auto;
    padding-bottom: 60px;
    text-align: center;
}

body,
html {
    width: 100%;
    font-weight: 300;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans', Arial, Tahoma, Sans-Serif;
}

body,
html {
    width: 100%;
    font-weight: 300;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans', Arial, Tahoma, Sans-Serif;
}

body {
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased !important;
    overflow-x: hidden;
}

body,
html {
    width: 100%;
    font-weight: 300;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans', Arial, Tahoma, Sans-Serif;
}

html {
    font-size: 16px;
    line-height: 1.6;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html {
    font-size: 16px;
    line-height: 1.6;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html {
    font-size: 16px;
    line-height: 1.6;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

user agent stylesheet html {
    color: -internal-root-color;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.homeFuncionalidadesSlide.third.jsx-723090338 {
    -webkit-transform: translateX(100%) translateZ(0);
    -ms-transform: translateX(100%) translateZ(0);
    transform: translateX(100%) translateZ(0);
    -webkit-transition: -webkit-transform 0.3s linear, opacity 0s linear 0.3s;
    -webkit-transition: transform 0.3s linear, opacity 0s linear 0.3s;
    transition: transform 0.3s linear, opacity 0s linear 0.3s;
}

.homeFuncionalidadesSlide.jsx-723090338 {
    display: inline-block;
    width: 180px;
    height: 260px;
    position: absolute;
    top: 100px;
    left: calc(50% - 90px);
    -webkit-transition: -webkit-transform 0.3s linear;
    -webkit-transition: transform 0.3s linear;
    transition: transform 0.3s linear;
    opacity: 1;
}

div.jsx-723090338 {
    outline: 0;
}

b,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
p,
span,
strong,
u {
    font-display: swap;
}

b,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
p,
span,
strong,
u {
    font-display: swap;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
em,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
footer,
header,
nav,
section,
main {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

b,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
p,
span,
strong,
u {
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

user agent stylesheet div {
    display: block;
}

.homeFuncionalidadesSlider.jsx-723090338 {
    padding: 80px 20px 0;
    position: relative;
    cursor: pointer;
    width: 560px;
    max-width: calc(100% - 40px);
    min-height: 290px;
    margin: 0;
    text-align: center;
}

section.jsx-723090338 {
    width: 1100px;
    max-width: 100%;
    margin: auto;
    padding-bottom: 60px;
    text-align: center;
}

body,
html {
    width: 100%;
    font-weight: 300;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans', Arial, Tahoma, Sans-Serif;
}

body,
html {
    width: 100%;
    font-weight: 300;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans', Arial, Tahoma, Sans-Serif;
}

body {
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased !important;
    overflow-x: hidden;
}

body,
html {
    width: 100%;
    font-weight: 300;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans', Arial, Tahoma, Sans-Serif;
}

html {
    font-size: 16px;
    line-height: 1.6;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html {
    font-size: 16px;
    line-height: 1.6;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html {
    font-size: 16px;
    line-height: 1.6;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

user agent stylesheet html {
    color: -internal-root-color;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}